---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { HOMEPAGE, IS_AVAILABLE_NOW, SOCIALS } from 'cms/constants';
import BentoDiv from '@/components/BentoDiv.astro';
import BookCta from '@/components/sections/BookCta.astro';
import TestimonialSection from '@/components/sections/Testimonials.astro';
import ButtonLink from '@/components/ui/ButtonLink.astro';
import Heading from '@/components/ui/Heading.astro';
import Icon from '@/components/ui/Icon.astro';
import InlineBold from '@/components/ui/InlineBold.astro';
import Marquee from '@/components/ui/Marquee.astro';
import Section from '@/components/ui/Section.astro';
import LandingLayout from '@/layouts/LandingLayout/index.astro';
import { getImage, SchemaMarkup } from '@/lib/utils';
import ProjectCard from '@/pages/projects/_ProjectCard.astro';
import ServiceCard from './home/_ServiceCard.astro';
import Tag from './home/_Tag.astro';
import ProductEngineeringDialog from './home/ProductEngineeringDialog.astro';

const Mockups = await getCollection('mockups');
const Mockups1 = Mockups.slice(0, Mockups.length / 2);
const Mockups2 = Mockups.slice(Mockups.length / 2, Mockups.length);

const TechStack1 = await getCollection('tech_stack_1');
const TechStack2 = await getCollection('tech_stack_2');
const TechStack3 = await getCollection('tech_stack_3');

const GitHubDots = [];
for (let i = 0; i < 150; i++) {
	const random = Math.floor(Math.random() * 3);
	GitHubDots.push(random);
}

const Projects = (await getCollection('projects')).filter((project) =>
	HOMEPAGE.PROJECTS.includes(project.data.title),
);

// SEO:

const title = 'Aditya Borkar - Expert Product Engineer';
const description =
	'Showcasing the work of Aditya Borkar, a Mumbai-based product engineer and full-stack developer, specializing in web development, internal communications, and front-end development.';
const keywords = [
	'about',
	'product engineer',
	'full-stack developer',
	'web development',
	'user interface',
	'user interaction',
	'',
];
const schema_markup = [
	SchemaMarkup.get('website'),
	SchemaMarkup.get('business'),
	SchemaMarkup.get('services'),
	SchemaMarkup.get('work'),
	SchemaMarkup.get('person'),
	// SchemaMarkup.get("webpage/collection"),
];
const open_graph = {};
const seo = { title, description, keywords, schema_markup, open_graph };
const sustainability = { co2: 0.25, link: 'adityab-tech' };
---

<LandingLayout {...seo} sustainability={sustainability}>
  <Section
    class:list={[
      "mx-auto pb-24 pt-12 grid-cols-1 px-4 grid max-w-[64rem] min-h-fit",
      "md:grid-cols-[1fr_2fr] md:pt-36 md:gap-16 md:px-0 md:max-h-[56rem] md:h-[80vh]",
    ]}
  >
    <div
      class:list={[
        "mr-auto md:mx-auto size-36 overflow-hidden rounded-4xl md:rounded-full",
        "md:size-80",
      ]}
    >
      <Image
        class:list={[
          "h-full w-full -scale-x-100 rounded-2xl object-cover",
          "magic-fade-right",
        ]}
        src={getImage("profile.png")}
        alt=""
      />
    </div>
    <div class:list={["mt-4 w-[100%]", "lg:-mt-8"]}>
      <div
        class:list={[
          "text-2xl font-bold bg-clip-text leading-normal text-transparent from-text-primary to-text-quaternary bg-gradient-to-br",
          "md:text-4xl",
          "magic-fade-down delay-300",
        ]}
      >
        Product Engineer.
        <!-- <br class="md:hidden" /> OSS Maintainer.  -->
        <br />
        Full Stack Web Developer.
        <!-- AI Engineer -->
      </div>

      <div
        class:list={[
          "mt-4 text-xs flex flex-row gap-2",
          "magic-fade-down delay-500",
        ]}
      >
        <Tag href="https://ossacc.com/" label="oss/acc" />
        <Tag
          href="https://en.wikipedia.org/wiki/Effective_altruism"
          label="e/altruism"
        />
      </div>

      <div
        class:list={[
          "mt-4 flex flex-row items-center gap-4 text-text-tertiary",
          "magic-fade-down delay-700",
        ]}
      >
        <a target="_blank" href={SOCIALS.github}>
          <Icon
            icon="GitHub"
            class="size-6 hover:fill-text-primary fill-text-quaternary"
          />
        </a>
        <a target="_blank" href={SOCIALS.x}>
          <Icon
            icon="Twitter"
            class="size-6 hover:fill-text-primary fill-text-quaternary"
          />
        </a>
        <a target="_blank" href={SOCIALS.linkedin}>
          <Icon
            icon="LinkedIn"
            class="size-6 hover:fill-text-primary fill-text-quaternary"
          />
        </a>
        <a href={`mailto:${SOCIALS.email}`} class="mt-0.5">
          <Icon
            icon="Mail"
            class="size-5 hover:text-text-primary text-text-quaternary"
          />
        </a>
      </div>

      <p
        class:list={[
          "text-balance leading-relaxed text-text-tertiary",
          "mt-8 md:mt-12 text-sm md:text-lg",
          "magic-fade-down delay-1000",
        ]}
      >
        {"I'm Aditya, an "}
        <InlineBold>product engineer</InlineBold>
        {" based in "}
        <Image
          src={getImage("emoji/in-flag.png")}
          alt=""
          class="inline-block h-6 w-fit"
        />
        {" India with"}
        <InlineBold>3+ years of experience</InlineBold>
        {" in creating "}
        <InlineBold>high-quality products</InlineBold>
        {" with "}
        <InlineBold>humanizing user experience</InlineBold>
        {" that drives "}
        <InlineBold>user engagement</InlineBold>
        {" and "}
        <InlineBold>business growth.</InlineBold>
        {
          " I am opinionated to deliver clean, maintainable, scalable, production-ready, tested code in a"
        }
        <InlineBold>timely manner.</InlineBold>
      </p>

      <div
        class:list={[
          "mt-8 flex flex-row gap-4 ",
          "md:mt-16 md:gap-8",
          "magic-fade-down delay-1100",
        ]}
      >
        <ButtonLink variant="primary" size="lg" href="/contact">
          Enquire / Contact
        </ButtonLink>
        <ButtonLink variant="secondary" size="lg" href="/projects">
          View Work
        </ButtonLink>
      </div>

      <div
        class:list={[
          "mt-6 w-fit px-4 flex flex-row gap-2 items-center text-center text-sm text-text-secondary",
          "magic-fade-down delay-1200",
        ]}
      >
        <div
          class:list={[
            "relative inline-block size-3 rounded-full ",
            IS_AVAILABLE_NOW ? "bg-green-500" : "bg-orange-500",
          ]}
        >
          <div
            class:list={[
              "absolute -top-0.5 -ml-0.5 size-4 animate-ping rounded-full",
              "[animation-duration:2s] [animation-delay:0.4s]",
              IS_AVAILABLE_NOW ? "bg-green-500" : "bg-orange-500",
            ]}
          >
          </div>
        </div>
        <div>
          {IS_AVAILABLE_NOW ? "Open for Work" : "Limited Availability"}
        </div>
      </div>
    </div>
  </Section>

  <!-- <Section class="!px-0 !max-w-full" id="mockups-container">
    <Marquee
      id="mockups-1"
      direction="right"
      duration="30s"
      class:list={["my-2", "md:my-8", "magic-fade-up delay-2000"]}
    >
      {
        Mockups1.map(({ data: { img, id } }) => (
          <MarqueeImage src={getImage(img)} alt="" href={id} />
        ))
      }
    </Marquee>
    <Marquee
      id="mockups-2"
      direction="left"
      duration="30s"
      class:list={["my-2", "md:my-8", "magic-fade-up delay-2200"]}
    >
      {
        Mockups2.map(async ({ data: { img, id } }) => (
          <MarqueeImage src={getImage(img)} alt="" href={id} />
        ))
      }
    </Marquee>
    <script>
      import { scroll, transform, inView, animate } from "motion";

      const animation1 = animate(
        "#mockups-1",
        { transform: ["scale(0.8)", "scale(1.3)", "scale(1)"] },
        { ease: "linear" },
      );
      const animation2 = animate(
        "#mockups-2",
        { transform: ["scale(0.8)", "scale(1.3)", "scale(1)"] },
        { ease: "linear" },
      );
      scroll(animation1, {
        target: document.getElementById("mockups-1"),
        offset: ["start end", "end start"],
      });
      scroll(animation2, {
        target: document.getElementById("mockups-2"),
        offset: ["start end", "end start"],
      });
    </script>
  </Section> -->

  <Heading icon="Smile" label="About">Brief About Adi,</Heading>
  <Section class:list={["grid grid-cols-8 gap-4", "md:grid-cols-8"]}>
    <BentoDiv label="Motivation" className="col-span-4 row-span-3">
      <p class="text-base">
        <!-- IMPORTANT: HIGHLIGHT YOUR SPECIALIZATION HERE -->
        I became a programmer and product engineer because I'm passionate about harnessing
        the power of technology to solve real-world problems and make a meaningful
        impact on people's lives. I enjoy the creative challenge of designing innovative
        solutions and the satisfaction of seeing my ideas come to life. Through programming
        and product engineering, I aim to continually learn, grow, and push the boundaries
        of what's possible.
        {/* Passion, Problem-solving, Learning mindset */}
      </p>
    </BentoDiv>

    <BentoDiv label="Stats" className="col-span-4">
      <div class="flex flex-row justify-between py-4 text-center text-sm">
        <div>
          <div class="mb-2 text-2xl font-semibold">3+</div>
          Years of Expertise
        </div>
        <div>
          <div class="mb-2 text-2xl font-semibold">20+</div>
          Projects
        </div>
        <!-- <div>
          <div class="mb-2 text-2xl font-semibold">8+</div>
          Happy Clients
        </div> -->
        <!--
        <div>
          <div class="mb-2 text-2xl font-semibold">13</div>
          GitHub Stars
        </div>
        -->
        <div>
          <div class="mb-2 text-2xl font-semibold">800+</div>
          Commits
        </div>
        <div>
          <div class="mb-2 text-2xl font-semibold">3000+</div>
          Coding Hours
        </div>
      </div>
    </BentoDiv>

    <BentoDiv className="col-span-4 row-span-4">
      PHOTO GALLERY
      <!-- OR Timelapse of me working on my desk with coffee from a picturesque place -->
    </BentoDiv>

    <BentoDiv className="group relative col-span-4 row-span-2">
      <a
        target="_blank"
        href="https://github.com/AdityaBorkar"
        class:list={[
          "absolute left-0 top-0 hidden h-full w-full items-center justify-center cursor-pointer rounded-3xl group-hover:flex bg-background/70 font-semibold text-text-secondary",
          "backdrop-blur-sm transition-all duration-300 starting:opacity-0",
        ]}
      >
        <span
          class:list="duration-100 delay-1000 transition-all relative translate-x-20"
        >
          Open GitHub Profile
          <Icon icon="ArrowUpRight" class="ml-2 -mt-1 inline-block size-4" />
        </span>
      </a>
      <div
        class="grid w-fit auto-cols-fr grid-flow-col grid-rows-[repeat(7,minmax(0,1fr))] gap-1"
      >
        {
          GitHubDots.map((commits) => (
            <div
              class:list={[
                "size-4 rounded",
                commits === 0 ? "bg-neutral-200" : "bg-green-800",
              ]}
              style={{
                opacity: commits > 0 ? (commits * 100) / 2 : 1,
              }}
            />
          ))
        }
      </div>
    </BentoDiv>

    <!-- TODO: Highlight Accolades -->

    <BentoDiv label="Tech Stack" className="relative col-span-8 row-span-5">
      <Marquee class="mb-4" duration="30s" reverse>
        {
          Promise.all(
            TechStack2.map(async ({ data }) => {
              if (!data.logo.endsWith(".astro")) return;
              const path = `/src/assets/${data.logo}`;
              const { default: Component } = await import(
                /* @vite-ignore */
                path
              );
              return <Component class="h-8 mx-2" />;
            }),
          )
        }
      </Marquee>
      <Marquee class="mb-4" duration="15s">
        {
          Promise.all(
            TechStack1.map(async ({ data }) => {
              if (!data.logo.endsWith(".astro")) return;
              const path = `/src/assets/${data.logo}`;
              const { default: Component } = await import(
                /* @vite-ignore */
                path
              );
              return <Component class="h-8 mx-2" />;
            }),
          )
        }
      </Marquee>
      <Marquee class="mb-4" duration="15s" reverse>
        {
          Promise.all(
            TechStack3.map(async ({ data }) => {
              if (!data.logo.endsWith(".astro")) return;
              const path = `/src/assets/${data.logo}`;
              const { default: Component } = await import(
                /* @vite-ignore */
                path
              );
              // console.log({ Component });
              return <Component class="mx-2 h-8" />;
            }),
          )
        }
      </Marquee>
      <div
        class="pointer-events-none absolute top-12 left-0 h-48 w-72 bg-gradient-to-r from-background via-background via-10%"
      >
      </div>
      <div
        class="pointer-events-none absolute top-12 right-0 h-48 w-72 bg-gradient-to-l from-background via-background via-10%"
      >
      </div>
      <div class="mt-4 text-sm text-text-tertiary text-center">
        Proven expertise across 100+ technologies, demonstrating broad and
        versatile technical proficiency.
      </div>
    </BentoDiv>
  </Section>

  <Heading icon="Gift" label="Services"> Service Offerings </Heading>
  <Section>
    <div class:list={["grid grid-cols-2 gap-4", "md:grid-cols-3 md:gap-8"]}>
      <ServiceCard video="/assets/video/product-engineering.webm">
        <div slot="title">
          Product <br />
          Engineering
        </div>
        <ProductEngineeringDialog />
      </ServiceCard>
      <ServiceCard video="/assets/video/prototype-dev.webm">
        <div slot="title">
          MVP <br /> Development
        </div>
        <div>Hello World</div>
      </ServiceCard>
      <ServiceCard video="/assets/video/tech-consulting.webm">
        <div slot="title">
          Technical <br />
          Consultancy
        </div>
        <div>Hello World</div>
      </ServiceCard>
      <ServiceCard video="/assets/video/ai.webm">
        <div slot="title">
          AI / Automation <br />
          Development
        </div>
        <div>Hello World</div>
      </ServiceCard>
      <ServiceCard video="/assets/video/backend-dev.webm">
        <div slot="title">
          Backend <br />
          Development
        </div>
        <div>Working with Tools like: IMAGE SLIDEDOWN / TEXT TABLE</div>
      </ServiceCard>
      <ServiceCard video="/assets/video/frontend-dev.webm">
        <div slot="title">
          Frontend <br />
          Development
        </div>
        <div>Hello World</div>
      </ServiceCard>
    </div>
    <!-- Write down some notes about the process to achieve each of the service for SEO reasons. -->
    <!-- Cross-Discipline Expertise
        Tech Agnostic
        Quality Assured
        AI Engineer [SPECIALIZED]
        Cross-Discipline Expertise
        Tech Agnostic
        Scalable Solutions -->
  </Section>
  <ButtonLink variant="hero" href="/services/" class="mt-12">
    Explore Services
  </ButtonLink>

  <Heading icon="Atom" label="Projects"> Selected Works </Heading>
  <Section
    class:list={["grid w-full grid-cols-1 gap-6", "md:grid-cols-2 md:gap-8"]}
  >
    {Projects.map((project) => <ProjectCard {...project} hideTags />)}
  </Section>
  <ButtonLink variant="hero" href="/projects/" class="mt-12">
    View All Projects
  </ButtonLink>

  <Heading icon="UserCircle" label="Testimonials">What People Speak</Heading>
  <TestimonialSection />

  <BookCta />
</LandingLayout>
