---
import LandingLayout from '@/layouts/LandingLayout/index.astro';
// import { HiChevronRight } from 'react-icons/hi2'
// import { LuEye, LuGithub, LuGlobe } from 'react-icons/lu'

// index: z.number().optional(),
//     title: z.string(),
//     description: z.string(),
//     hero_image: z.string().nullable(),
//     categories: z.array(z.string()),
//     tags: z.array(z.string()),
//     preview_link: z.string().nullable(),
//     github_link: z.string().nullable(),

export function getStaticPaths() {
	const projects = [
		{
			name: 'Hooop.cloud',
			slug: 'hooop.cloud',
			description:
				'Hooop.cloud is a serverless management platform that allows you to manage your serverless applications in one place.',
			image: '/projects/hooop.png',
			url: 'https://hooop.cloud',
			tags: ['Cloudflare', 'Serverless', 'Management'],
		},
		{
			name: 'Platipie',
			slug: 'platipie',
			description:
				'Platipie is a platform that allows you to create and manage your own websites and applications.',
			image: '/projects/platipie.png',
			url: 'https://platipie.com',
			tags: ['Webflow', 'JavaScript', 'TypeScript'],
		},
		{
			name: 'Cloud',
			slug: 'cloud',
			description:
				'Cloud is a platform that allows you to create and manage your own websites and applications.',
			image: '/projects/cloud.png',
			url: 'https://cloud.com',
			tags: ['Cloudflare', 'Serverless', 'Management'],
		},
	];

	return projects.map((project) => ({
		params: { slug: project.slug },
		props: { project },
	}));
}

const { slug } = Astro.params;
const { project } = Astro.props;
if (!project) return Astro.redirect('/404');

const { name, description, image, url, tags } = project;

const SchemaMarkup = [];

console.log({ project });
---

<LandingLayout
  title={project.name}
  keywords={project.tags}
  description={project.description}
  schemaMarkup={SchemaMarkup}
>
  <div
    class="mx-auto mb-8 mt-24 grid max-w-[64rem] grid-cols-[auto_20rem] gap-8"
  >
    <div>
      <!-- Breadcrumb -->
      <div class="flex flex-row gap-2 text-sm text-text-tertiary">
        <a href="/projects">Projects</a>
        <span>
          <!-- <HiChevronRight
            className="inline-block size-3 stroke-1 align-[-1px]"
          /> -->
        </span>
        <a href={`/projects/${project.slug}`}>{project.name}</a>
      </div>

      <h1 class="mb-4 mt-8 text-left text-5xl font-bold">{project.name}</h1>

      <p class="mb-4 text-left text-base text-text-secondary">
        {project.description}
      </p>

      <img
        src={project.image}
        alt={project.name}
        class="my-16 min-h-96 w-full rounded-xl border border-border/50 object-cover"
      />

      <div class="mt-8">CONTENT</div>
    </div>

    <div
      class="mt-56 flex h-fit flex-col gap-4 rounded-xl border border-border/20 bg-white *:px-4 dark:bg-black"
    >
      <div class="py-4 text-sm font-medium">BUSINESS OUTCOME</div>
      <div class="grid grid-cols-2 gap-2 text-center">
        <a
          href={project.url}
          target="_blank"
          class="rounded-md bg-bg-tertiary py-2 text-sm text-white transition-all duration-300 hover:bg-bg-secondary"
        >
          <!-- <LuGlobe className="inline-block size-4 stroke-2 align-[-3px]" /> -->
          Live Preview
        </a>
        <a
          href={project.url}
          target="_blank"
          class="rounded-md bg-bg-tertiary px-4 py-2 text-sm text-white transition-all duration-300 hover:bg-bg-secondary"
        >
          <!-- <LuEye className="inline-block size-4 stroke-2 align-[-3px]" /> -->
          Quick Peek
        </a>
        <!-- <a
          href={project.url}
          target="_blank"
          class="rounded-md bg-bg-tertiary px-4 py-2 text-sm text-white transition-all duration-300 hover:bg-bg-secondary"
        >
          <LuGithub className="inline-block size-4 stroke-2 align-[-3px]" />
          View Code
        </a> -->
      </div>
      <div class="border-t border-border/20 pt-4">
        Looking for consultation? Looking for an engineer (or team) to build
        your project?
        <a href="/contact" class="my-2 block">Contact</a>
      </div>
    </div>
  </div>
</LandingLayout>
