---
import type { ComponentProps } from "astro/types";
import { SOCIALS } from "cms/constants";
import GitHubIcon from "@/assets/icons/GitHub.svg";
import LinkedinIcon from "@/assets/icons/LinkedIn.svg";
import MailIcon from "@/assets/icons/Mail.svg";
import RefreshIcon from "@/assets/icons/Refresh.svg";
import TwitterIcon from "@/assets/icons/Twitter.svg";
import AiAssistant from "@/components/AiAssistant.astro";
import Button from "@/components/ui/Button.astro";
import Section from "@/components/ui/Section.astro";
import RootLayout from "../RootLayout.astro";
import FooterLink from "./FooterLink.astro";
import GenerativeArt from "./GenerativeArt.astro";
import Navbar from "./Navbar.astro";

interface Props extends ComponentProps<typeof RootLayout> {
  sustainability?: {
    co2: number;
    link: string;
  };
}

const { sustainability, ...seo } = Astro.props;
---

<RootLayout {...seo}>
  <Navbar />

  <AiAssistant />

  <div class="pt-20"></div>

  <slot />

  <footer class="max-md:px-[5vw] relative z-40 bg-background">
    <div
      class="md:mx-auto max-w-[64rem] rounded-4xl bg-bg-primary group mt-16 md:grid grid-cols-2"
    >
      <div
        class:list={[
          "border-border/10 relative",
          "max-md:h-[25vh] max-md:border-b md:border-r",
        ]}
      >
        <Button
          variant="secondary"
          size="sm"
          class:list={["absolute bottom-2 right-2"]}
        >
          <RefreshIcon class="size-5 text-text-quaternary" />
        </Button>
        <GenerativeArt />
      </div>
      <div class="px-8">
        <div class="flex flex-row gap-8 py-8 justify-between md:pr-[20%]">
          <div class="">
            <div
              class="mb-3 font-medium text-text-quaternary group-hover:text-text-quaternary/70"
            >
              Me
            </div>
            <FooterLink href="/">Home</FooterLink>
            <FooterLink href="/about">About</FooterLink>
            <FooterLink href="/contact">Contact</FooterLink>
          </div>
          <div class="">
            <div
              class="mb-3 font-medium text-text-quaternary group-hover:text-text-quaternary/70"
            >
              Work
            </div>
            <FooterLink href="/projects">Projects</FooterLink>
            <FooterLink href="/labs">Labs</FooterLink>
            <!-- <FooterLink href="/blog">Blog</FooterLink> -->
          </div>
          <div class="">
            <div
              class="mb-3 shrink-0 font-medium text-text-quaternary group-hover:text-text-quaternary/70"
            >
              Services
            </div>
            <FooterLink href="/services">Product Engineer</FooterLink>
            <FooterLink href="/services">AI Engineer</FooterLink>
          </div>
        </div>
        <div
          class:list={["grid grid-cols-[8rem_auto] pb-6 gap-y-1", "md:gap-x-4"]}
        >
          <FooterLink href={SOCIALS.github} openInNewTab>
            <GitHubIcon
              class="size-5 -mt-0.5 inline-block fill-text-tertiary group-hover/link:fill-text-secondary"
            />
            GitHub
          </FooterLink>
          <FooterLink href={SOCIALS.x} openInNewTab>
            <TwitterIcon
              class="size-5 inline-block fill-text-tertiary group-hover/link:fill-text-secondary"
            />
            X (Twitter)
          </FooterLink>
          <FooterLink href={SOCIALS.linkedin} openInNewTab>
            <LinkedinIcon
              class="size-5 -mt-1 inline-block fill-text-tertiary group-hover/link:fill-text-secondary"
            />
            LinkedIn
          </FooterLink>
          <FooterLink href={`mailto:${SOCIALS.email}`}>
            <MailIcon
              class="size-4 mx-0.5 inline-block text-text-tertiary group-hover/link:text-text-secondary"
            />
            {SOCIALS.email}
          </FooterLink>
          <a
            href="/legal"
            class="py-2 col-span-2 my-6 block w-fit text-xs text-text-tertiary hover:text-text-secondary"
          >
            Read Legal Terms
          </a>
        </div>
      </div>
    </div>

    <Section
      class="py-12 bg-inherit z-40 relative text-center text-text-tertiary/80"
    >
      {
        sustainability && (
          <>
            <a
              target="_blank"
              href={`https://www.websitecarbon.com/website/adityab-tech/${sustainability.link}`}
              class="hover:underline underline-offset-8 hover:text-emerald-400 cursor-alias"
            >
              This page is eco-friendly, consumes 100% Clean Energy and produces
              only 🍃 {sustainability.co2}g of CO2 on every visit.
            </a>
            <br />
            <br />
            <br />
          </>
        )
      }
      Designed & Developed with ❤️ by Aditya Borkar
      <br />
      Copyright © CC BY-NC 4.0
    </Section>
  </footer>
</RootLayout>
