---
import type { Thing, WithContext } from "schema-dts";

import RootLayout from "../RootLayout.astro";
import FooterLink from "./FooterLink.astro";
import { cn } from "@/lib/utils";

import MenuIcon from "@/assets/icons/Menu.svg";
import MoonIcon from "@/assets/icons/Moon.svg";
import SunIcon from "@/assets/icons/Sun.svg";
import GitHubIcon from "@/assets/icons/GitHub.svg";
import TwitterIcon from "@/assets/icons/Twitter.svg";
import LinkedinIcon from "@/assets/icons/LinkedIn.svg";
import AiAssistant from "@/components/AiAssistant.astro";

interface Props {
  title: string;
  description: string;
  keywords: string[];
  schemaMarkup?: WithContext<Thing>[];
}

const NavItems = [
  { link: "/", label: "Home" },
  { link: "/about", label: "About" },
  { link: "/services", label: "Services" },
  { link: "/projects", label: "Projects" },
  { link: "/blog", label: "Blog" },
  { link: "/contact", label: "Contact" },
];

// TODO: Open Header on scroll end

// const HideOnScroll = ({ children }) => {
//   const [isVisible, setIsVisible] = useState(true)
//   const lastScrollTop = useRef(0)

//   useEffect(() => {
//     if (!scroll) return

//     const handleScroll = (instance) => {
//       const scrollTop = instance.scroll.y
//       if (scrollTop > lastScrollTop.current) {
//         // Scrolling down
//         setIsVisible(false)
//       } else {
//         // Scrolling up
//         setIsVisible(true)
//       }
//       lastScrollTop.current = scrollTop
//     }

//     scroll.on('scroll', handleScroll)

//     return () => {
//       if (scroll) {
//         scroll.off('scroll', handleScroll)
//       }
//     }
//   }, [scroll])

//   return (
//     <div
//       class={`transition-transform duration-300 ${isVisible ? 'translate-y-0' : '-translate-y-full'}`}
//     >
//       {children}
//     </div>
//   )
// }
const path = "";
---

<RootLayout {...Astro.props}>
  <header
    transition:persist
    transition:animate="none"
    class={cn(
      "w-[75vw] max-w-[54rem] md:w-[85vw]",
      "sticky top-8 z-50 mx-auto flex select-none flex-row justify-between rounded-full border border-border/10 px-2 bg-bg-primary/50 shadow-bg-tertiary/10 shadow-md backdrop-blur-xl",
    )}
  >
    <a
      href="/"
      class="my-2 font-bold flex flex-row items-center text-text-primary"
    >
      <div
        class="inline-block rounded-full border-2 border-border px-2 py-0 text-xl tracking-wider"
      >
        A/B
      </div>
      <div class="ml-2 inline-block align-bottom text-2xl">Adi.</div>
    </a>

    <MenuIcon class="mr-2 mt-3 block size-6 md:hidden" />
    <nav
      class="fixed left-0 top-0 flex h-screen w-screen flex-col items-center bg-black md:hidden lg:gap-2 dark:bg-white"
    >
      {
        NavItems.map(({ link, label }) => (
          <a
            href={link}
            class={cn(
              "relative h-fit cursor-pointer rounded-full px-4 py-1 text-sm font-medium text-text-secondary hover:text-text-primary",
              path === link && "text-text-primary",
              // path === link &&
              //   "after:bg-bg-secondary after:absolute after:-bottom-1 after:left-[37.5%] after:h-2 after:w-1/4 after:rounded-md after:bg-amber-500 after:blur after:dark:bg-amber-800",
              path === link &&
                "before:absolute before:-bottom-2.5 before:left-[10%] before:w-4/5 before:rounded-[4px] before:border-b before:border-amber-600",
            )}
          >
            {label}
          </a>
        ))
      }
    </nav>

    <nav class="relative z-20 hidden flex-row items-center md:flex lg:gap-2">
      <!--
  onMouseLeave={() => {
    if (!ShadowRef.current) return;
    ShadowRef.current.style.right = "-20rem";
    ShadowRef.current.style.opacity = "0";
  }}
  -->
      <div
        data-header-shadow
        class="absolute right-0 top-2 -z-10 h-8 w-20 rounded-full bg-bg-primary opacity-0 duration-300"
      >
      </div>
      {
        NavItems.map(({ link, label }) => (
          <a
            data-header-link
            href={link}
            class={cn(
              "relative h-fit cursor-pointer rounded-full px-4 py-1 text-sm font-medium text-text-secondary hover:text-text-primary",
              path === link && "text-text-primary",
              // path === link &&
              //   'after:bg-bg-secondary after:absolute after:-bottom-1 after:left-[37.5%] after:h-2 after:w-1/4 after:rounded-md after:bg-amber-500 after:blur after:dark:bg-amber-800',
              path === link &&
                "before:absolute before:-bottom-2.5 before:left-[10%] before:w-4/5 before:rounded-[4px] before:border-b before:border-amber-600",
            )}
          >
            {label}
          </a>
        ))
      }
      <script>
        const ShadowRef = document.querySelector(
          "[data-header-shadow]",
        ) as HTMLElement;
        document.querySelectorAll("[data-header-link]").forEach((element) => {
          element.addEventListener("mouseover", (e) => {
            const target = e.target as HTMLElement;
            if (!ShadowRef) return;
            ShadowRef.style.opacity = "1";
            ShadowRef.style.left = `${target.offsetLeft}px`;
            ShadowRef.style.width = `${target.offsetWidth}px`;
          });
        });
      </script>
    </nav>

    <div class="absolute -right-14 top-1.5">
      <MoonIcon
        data-theme="toggle"
        class="hidden dark:block size-9 cursor-pointer rounded-full p-2 text-text-secondary hover:bg-bg-primary"
      />
      <SunIcon
        data-theme="toggle"
        class="dark:hidden size-9 cursor-pointer rounded-full p-2 text-text-secondary hover:bg-bg-primary"
      />
    </div>

    <script>
      document.querySelectorAll("[data-theme='toggle']").forEach((element) => {
        element.addEventListener("click", () => {
          const isDark = !document.documentElement.classList.contains("dark");
          document.documentElement.classList.toggle("dark", isDark);
          window.localStorage.setItem("theme", isDark ? "dark" : "light");
        });
      });
    </script>
  </header>

  <slot />

  <footer class="text-base py-4 bg-text-primary text-bg-tertiary">
    <div class="mx-auto pt-12 flex max-w-[56rem] flex-row justify-between">
      <div class="w-fit">
        <div class="mr-[5vw] w-fit text-center text-bg-primary">
          <div
            class="w-fit rounded-md border-2 border-bg-primary/80 px-3 py-1 text-center font-medium uppercase tracking-wide"
          >
            Aditya Borkar
          </div>
          <a class="mt-2 block" href="mailto:hi@adityab.tech"
            >hello@adityab.com</a
          >
        </div>
      </div>
      <div class="flex flex-row gap-14">
        <div>
          <div class="mb-3 font-medium text-bg-tertiary/60">Me</div>
          <FooterLink href="/">Home</FooterLink>
          <FooterLink href="/about">About</FooterLink>
          <FooterLink href="/contact">Contact</FooterLink>
        </div>
        <div>
          <div class="mb-3 font-medium text-bg-tertiary/60">Work</div>
          <FooterLink href="/projects">Projects</FooterLink>
          <FooterLink href="/labs">Labs</FooterLink>
          <FooterLink href="/blog">Blog</FooterLink>
        </div>
        <div>
          <div class="mb-3 shrink-0 font-medium text-bg-tertiary/60">
            Services
          </div>
          <FooterLink href="/services/product-engineer"
            >Product Engineer</FooterLink
          >
          <FooterLink href="/services/ai-engineer">AI Engineer</FooterLink>
        </div>
        <div>
          <div class="mb-3 font-medium text-bg-tertiary/60">Socials</div>
          <FooterLink href="https://x.com/adityab_tech">
            <TwitterIcon
              class="size-5 -mt-1 inline-block fill-bg-secondary/70"
            />
            Twitter (X)
          </FooterLink>
          <FooterLink href="https://linkedin.com/in/adityab_tech">
            <LinkedinIcon
              class="size-5 -mt-1 inline-block fill-bg-secondary/70"
            />
            LinkedIn
          </FooterLink>
          <FooterLink href="https://github.com/AdityaBorkar">
            <GitHubIcon
              class="size-5 -mt-1 inline-block fill-bg-secondary/70"
            />
            GitHub
          </FooterLink>
        </div>
      </div>
    </div>

    <div class="mt-8 py-8 text-center opacity-50 hover:opacity-100">
      Designed with ❤️ and built with 🚀 by Aditya Borkar 😉
    </div>

    <a
      href="/policy"
      class="py-4 text-center text-xs block w-fit mx-auto underline underline-offset-4 decoration-bg-tertiary/50 hover:underline-offset-8"
    >
      Read Terms of Service, Privacy Policy, and Cookie Policy.
    </a>
  </footer>

  <AiAssistant />
</RootLayout>
