---
import type { CollectionEntry } from "astro:content";

interface Props extends CollectionEntry<"projects"> {}

const {
  data: { title, description, hero_image, tags },
} = Astro.props;

// onMouseMove={(e) => {
//   if (!PointerDivRef.current) return
//   // TODO: Translate on Page Scroll
//   // TODO: TranslateX depends on Page Width
//   PointerDivRef.current.style.transform = `translateY(${e.pageY - 20}px) translateX(${e.pageX - 220}px)`
// }}
// onMouseEnter={() => {
//   if (!PointerDivRef.current) return
//   PointerDivRef.current.style.display = 'block'
// }}
// onMouseLeave={() => {
//   if (!PointerDivRef.current) return
//   PointerDivRef.current.style.display = 'none'
// }}

// TODO: [Animation] On hover release small bubbles/sparkles in the background
---

<a
  href={`/projects/${title.toLowerCase().replace(/[\s\W]+/g, "-")}`}
  class="group relative rounded-3xl border border-border/20 bg-background p-4 transition-all hover:shadow-lg"
>
  <div class="h-64 rounded-xl">
    <img
      src={hero_image}
      alt={`Visual Representation of ${title}`}
      class="group-hover:zoom-105 mx-auto h-full rounded-xl bg-bg-primary text-center"
    />
  </div>
  <div class="cursor-pointer px-2 pb-2 pt-4">
    <div class="cursor-pointer text-base font-semibold">
      {title}
    </div>
    <div class="mt-2 cursor-pointer text-text-primary">
      {description}
    </div>
    <ul class="mt-4 flex cursor-pointer flex-row flex-wrap gap-x-1 gap-y-2">
      {
        tags.map((tag) => (
          <li class="cursor-pointer rounded-full bg-bg-primary px-2.5 py-1 text-xs">
            {tag}
          </li>
        ))
      }
    </ul>
  </div>
</a>
