---
import { getCollection } from "astro:content";

import ProjectCard from "./_ProjectCard.astro";
import Icon from "@/components/ui/Icon.astro";
import LandingLayout from "@/layouts/LandingLayout/index.astro";
import { getSchemaMarkup } from "@/lib/utils";

const title = "Projects";
const description = "Projects";
const keywords = ["projects"];
const SchemaMarkup = [getSchemaMarkup("person")];

const AllProjects = await getCollection("projects");
const AllCategories = [
  ...new Set(AllProjects.flatMap((project) => project.data.categories)),
];

// TODO: Add a Background to hero section

// Separate Section to show Open Source Contributions

// Direct Links to Website, and Sources, and Case Studies

// Add impact of the product like (<https://evilmartians.com/products>)

// TODO: Remove "Frontend Development" and "MAD" from categories
// Filter Animation
---

<LandingLayout
  title={title}
  keywords={keywords}
  description={description}
  schemaMarkup={SchemaMarkup}
>
  <div class="mx-auto max-w-[64rem] pb-48">
    <h1 class="mt-36 text-5xl font-bold">Selected Projects</h1>
    <div
      class="mt-12 max-w-[70%] text-balance text-base text-text-secondary/50"
    >
      <p>
        I create handcrafted products and signature projects that make a
        difference.
      </p>
      <p>
        My work empowers businesses to serve better products, enhance
        efficiency, and boost profitability through technology. It includes
        open-source contributions that support fellow engineers and developers
        in creating better software.
      </p>
    </div>

    <div class="mt-24 flex flex-row gap-4">
      <div class="shrink-0 py-1 text-text-secondary">
        <Icon icon="Filter" class="-mt-1 mr-1 inline-block size-5" />
        Filter:
      </div>
      <div
        class="flex flex-grow flex-row flex-nowrap overflow-auto whitespace-nowrap gap-2"
      >
        {
          AllCategories.map((tag) => (
            <button
              type="button"
              class:list={[
                "cursor-pointer rounded-full bg-bg-primary hover:bg-bg-secondary px-4 py-1.5 text-sm font-medium text-text-secondary",
                // filterCategory === tag && "bg-foreground text-background",
                "hover:bg-orange-900 hover:text-text-primary",
              ]}
            >
              {tag}
            </button>
          ))
        }
      </div>
    </div>

    <div class="mt-12 grid grid-cols-2 gap-12">
      {AllProjects.map((project) => <ProjectCard {...project} />)}
    </div>

    {
      /* <div
        ref={PointerDivRef}
        class="pointer-events-none absolute top-0 z-20 hidden rounded-full border border-neutral-700 px-4 py-2 text-sm text-neutral-300 backdrop-blur transition-none"
        style={{ display: 'none' }}
      >
        Click to open project
      </div> */
    }
  </div>
</LandingLayout>
