---
import { getCollection } from "astro:content";

import ProjectCard from "./_ProjectCard.astro";
import Icon from "@/components/ui/Icon.astro";
import LandingLayout from "@/layouts/LandingLayout/index.astro";
import { getSchemaMarkup } from "@/lib/utils";
import Section from "../home/_Section.astro";
import BookCta from "@/components/sections/BookCta.astro";
import InlineBold from "@/components/ui/InlineBold.astro";

const title = "Projects";
const description = "Projects";
const keywords = ["projects"];
const SchemaMarkup = [getSchemaMarkup("person")];

const AllProjects = await getCollection("projects");
const AllCategories = [
  ...new Set(AllProjects.flatMap((project) => project.data.categories)),
];

// TODO: Add a Background to hero section

// Separate Section to show Open Source Contributions

// Direct Links to Website, and Sources, and Case Studies

// Add impact of the product like (<https://evilmartians.com/products>)

// TODO: Remove "Frontend Development" and "MAD" from categories
// Filter Animation

// Copywriting - less marketing words and more impact words
---

<LandingLayout
  title={title}
  keywords={keywords}
  description={description}
  schemaMarkup={SchemaMarkup}
>
  <Section>
    <h1 class="mt-16 md:mt-36 text-3xl md:text-5xl font-bold">
      Selected Projects
    </h1>
    <p
      class:list={[
        "mt-8 text-sm text-text-tertiary",
        "md:mt-12 md:max-w-[70%] md:text-balance md:text-base",
      ]}
    >
      <!-- TODO: Highlight keywords -->
      I craft products and signature projects that make a difference.
      <br class="hidden md:block" />
      My work empowers businesses to serve <InlineBold
        >better products, enhance efficiency, and boost profitability</InlineBold
      > through technology. It includes <InlineBold
        >open-source contributions</InlineBold
      > that support fellow engineers and developers in creating better software.
    </p>

    <div class="mt-12 md:mt-24 flex flex-row gap-4">
      <div class="shrink-0 py-1 text-text-secondary">
        <Icon icon="Filter" class="-mt-1 mr-1 inline-block size-5" />
        Filter:
      </div>
      <div
        class="flex flex-grow flex-row flex-nowrap overflow-auto whitespace-nowrap gap-2"
      >
        {
          AllCategories.map((tag) => (
            <button
              type="button"
              class:list={[
                "cursor-pointer rounded-full bg-bg-primary hover:bg-bg-secondary px-4 py-1.5 text-sm font-medium text-text-secondary",
                // filterCategory === tag && "bg-foreground text-background",
                "hover:bg-orange-900 hover:text-text-primary",
              ]}
            >
              {tag}
            </button>
          ))
        }
      </div>
    </div>

    <div class="mt-12 grid md:grid-cols-2 grid-cols-1 gap-12">
      {AllProjects.map((project) => <ProjectCard {...project} />)}
    </div>
  </Section>

  <BookCta />
</LandingLayout>
