---
interface Props {
	label: string;
	id: string;
	placeholder: string;
	type?: 'text' | 'email' | 'password' | 'number' | 'url' | 'tel' | 'search';
	// | "date"
	// | "datetime-local"
	// | "month"
	// | "week"
	// | "time"
	// | "color"
	// | "file"
	// | "checkbox"
	// | "radio"
	// | "range"
	// | "hidden"
	// | "image"
	// | "button"
	// | "reset"
	// | "submit";
}

const { label, id, placeholder, type = 'text' } = Astro.props;
---

<div>
	<label for={id} class="mb-1 block font-medium text-text-primary">
		{label}
	</label>
	<input
		id={id}
		type={type}
		placeholder={placeholder}
		style={{ display: "none" }}
	/>
</div>
