---
import { SOCIALS } from "cms/constants";
import CalMeetButton from "@/components/CalMeetButton.astro";
import Button from "@/components/ui/Button.astro";
import Input from "@/components/ui/Input.astro";
import LandingLayout from "@/layouts/LandingLayout/index.astro";
import { SchemaMarkup } from "@/lib/utils";
import Textarea from "@/components/ui/Textarea.astro";
import SocialLink from "@/pages/contact/_SocialLink.astro";
import LinkedinIcon from "@/assets/icons/LinkedIn.svg";
import MailIcon from "@/assets/icons/Mail.svg";
import TwitterIcon from "@/assets/icons/Twitter.svg";

const title = "Contact";
const description =
  "Reach out to collaborate on innovative projects, insightful podcasts, engaging talks, expert consultations, and exciting collaborations. Let's create something amazing together!";
const keywords = [
  "contact me",
  "collaborate with me",
  "project consultation",
  "business inquiries",
  "partnership opportunities",
  "freelance projects",
  "hire a developer",
];
const open_graph = {};
const schema_markup = [
  SchemaMarkup.get("contact"),
  SchemaMarkup.get("webpage/contact"),
];
const sustainability = {
  co2: 1,
  link: "/",
};
const seo = { title, keywords, description, open_graph, schema_markup };

// TODO - Add form loading state
// Drag and drop attach files, add a nice video, pdf, and image logo. Show a list of files attached with uploading animation. This must feel like ios
---

<LandingLayout {...seo} sustainability={sustainability}>
  <main
    class:list={[
      "bg-background", // ? FIX FOR BACKDROP BLUR
      "mx-auto py-24 md:mb-10 w-full max-w-[40rem] md:px-16 max-md:px-4 max-md:text-sm",
    ]}
  >
    <h2
      magic-fade="down"
      animate-delay="0.3"
      class:list={[
        "text-4xl mb-4 font-bold text-transparent bg-clip-text bg-gradient-to-t from-text-primary to-text-secondary",
        "max-md:text-3xl",
      ]}
    >
      How can I help you?
    </h2>

    <p
      magic-fade="down"
      animate-delay="0.6"
      class="font-medium text-balance text-text-tertiary"
    >
      I'm available for projects, consultations, and collaborations. Looking to
      start a new project or want a consult regarding your current project?
      <br /><br />
      I usually reply within 24 hours.
    </p>

    <form
      magic-fade="down"
      animate-delay="0.9"
      class="mt-8 grid grid-cols-2 gap-4"
      data-submitted=""
    >
      <Input
        name="full_name"
        label="Full Name"
        placeholder="Steve Jobs"
        wrapperClass="max-md:col-span-2"
      />
      <Input
        name="email"
        type="email"
        label="Contact Email"
        placeholder="harvey.specter@suits.com"
        wrapperClass="max-md:col-span-2"
      />
      <Input
        name="company_name"
        label="Name of Company"
        placeholder="Perplexity AI"
        wrapperClass="max-md:col-span-2"
      />
      <Input
        name="company_age"
        label="Age of Company"
        placeholder="Select"
        wrapperClass="max-md:col-span-2"
      />
      <div class="group relative col-span-2">
        <Textarea
          name="details"
          label="Tell me about your project:"
          placeholder="Feel free to write here..."
          class="h-64 rounded-xl peer"
          wrapper={Fragment}
        />
        <!-- Unlock Lenis Scroll -->
        <!-- SVG Blur for Scroll -->
        <!-- Max. 10k Chars -->
        <!-- TODO: Handle responsiveness -->
        <div
          class:list={[
            "hidden absolute top-6 -right-[calc(60%+0.5rem)] bg-bg-primary w-[60%] rounded-md border border-border/20 text-text-secondary px-3 py-2 text-sm",
            "md:peer-focus:block",
            "magic-fade starting:opacity-0 ease-in-out duration-300",
          ]}
        >
          Share your vision and ideas with as much detail as possible. Include
          relevant links to references, prototypes, or documents. This will help
          me to understand your project better.
        </div>
      </div>
      <!-- Max. 25MB Total File Sizes and 10MB per file -->
      <!--
      <Input
        name="attachments"
        type="tel"
        label="Attach Files"
        placeholder="+91 9876543210"
        wrapperClass="max-md:col-span-2"
      />
      -->
      <!-- Inputs remove error as soon as valid input is detected, if dirty, show errors onFocusOut -->
      <!-- Add Turnstile Captcha or Google Recaptcha -->
      <!-- TODO: Response collected successfully. Expect a reply within <span class="font-semibold underline underline-offset-4 decoration-dashed">three hours</span>. -->

      <div class="mt-8 col-span-2">
        <Button
          type="submit"
          variant="primary"
          size="md"
          class:list={["mx-auto"]}>Submit Inquiry</Button
        >
      </div>
    </form>

    <div class="hidden">
      <p>
        Your message has been sent. Expect a reply within <span
          id="eta-text"
          class="font-semibold underline underline-offset-4 decoration-dashed"
        >
          twenty-four
        </span> hours.
      </p>
    </div>

    <div magic-fade="down" animate-delay="1.2" class="mt-16 text-text-tertiary">
      <div class="mb-2">
        {"Prefer a more direct approach?  "}
        <CalMeetButton
          class="mx-0.5 font-medium hover:text-text-primary px-2 py-1"
          text="Schedule a call"
        />
        {"or"}
      </div>
      <SocialLink
        icon={MailIcon}
        href={`mailto:${SOCIALS.email}`}
        label={SOCIALS.email}
        iconClass="fill-none text-current"
      />
      <SocialLink icon={TwitterIcon} href={SOCIALS.x} label="Twitter" />
      <SocialLink
        icon={LinkedinIcon}
        href={SOCIALS.linkedin}
        label="LinkedIn"
      />
    </div>
  </main>
</LandingLayout>

<script>
  import { actions } from "astro:actions";

  const button = document.querySelectorAll("button[type='submit']");
  button.forEach((button) => {
    button.addEventListener("click", async () => {
      button.disabled = true;
      button.textContent = "Sending..."; // TODO: Add a loading spinner

      const form = document.querySelector("form");
      if (!form) return;

      const formData = new FormData(form);
      const response = await actions.contactForm(formData);
      console.log(response);

      button.disabled = false;
      button.textContent = "Submit Inquiry";

      const fields = form.querySelectorAll("input, textarea");
      fields.forEach((field) => {
        const name = field.getAttribute("name");
        const error = response.error?.fields?.[name]?.[0] ? "Required" : "";

        const error_div = form.querySelector(`[for="${name}"] + p`);
        if (!error_div) return;
        error_div.textContent = error || "";
        field.setCustomValidity(error || "");
      });

      form.setAttribute("data-submitted", "true");
      const etaText = document.getElementById("eta-text");
      if (etaText) etaText.textContent = response.data.eta;
    });
  });
</script>
