---
import ScheduleMeetBtn from "@/components/ScheduleMeetBtn.astro";
import Button from "@/components/ui/Button.astro";
import Input from "@/components/ui/Input.astro";
import LandingLayout from "@/layouts/LandingLayout/index.astro";
import { getSchemaMarkup } from "@/lib/utils";

const title = "Contact";
const description =
  "Reach out to collaborate on innovative projects, insightful podcasts, engaging talks, expert consultations, and exciting collaborations. Let's create something amazing together!";
const keywords = [
  "contact me",
  "collaborate with me",
  "project consultation",
  "podcast guest",
  "public speaking",
  "business inquiries",
  "partnership opportunities",
  "freelance projects",
  "hire a developer",
];
const SchemaMarkup = [getSchemaMarkup("person"), getSchemaMarkup("contact")];

// TODO - Schedule call with form parameters
// TODO - Add form validation
// TODO - Add form submission
// TODO - Add form loading state
// TODO - Add form thank you message (TOAST)
// TODO - Open Graph Image

const errors = { username: "", email: "", password: "" };

// if (Astro.request.method === "POST") {
//   try {
//     const data = await Astro.request.formData();
//     const name = data.get("username");
//     const email = data.get("email");
//     const password = data.get("password");
//     // Do something with the data
//     if (typeof name !== "string" || name.length < 1) {
//       errors.username += "Please enter a username. ";
//     }
//     if (
//       typeof email !== "string" ||
//       false
//       // !isValidEmail(email)
//     ) {
//       errors.email += "Email is not valid. ";
//     }
//     if (typeof password !== "string" || password.length < 6) {
//       errors.password += "Password must be at least 6 characters. ";
//     }
//   } catch (error) {
//     if (error instanceof Error) {
//       console.error(error.message);
//     }
//   }
// }

// Drag and drop attach files, add a nice video, pdf, and image logo. Show a list of files attached with uploading animation. This must feel like ios
---

<LandingLayout
  title={title}
  keywords={keywords}
  description={description}
  schemaMarkup={SchemaMarkup}
>
  <main
    class:list={[
      "mx-auto my-12 md:my-36 w-full max-w-[36rem] max-md:px-4 max-md:text-sm",
    ]}
  >
    <h2
      class:list={[
        "mb-4  font-bold text-transparent bg-clip-text bg-gradient-to-t from-text-primary to-text-secondary magic-fade-down delay-300",
        "text-4xl max-md:text-3xl",
      ]}
    >
      How can I help you?
    </h2>

    <p
      class="font-medium text-balance text-text-tertiary magic-fade-down delay-500"
    >
      I'm available for projects, consultations, and collaborations. Looking to
      start a new project or want a consult regarding your current project?
    </p>
    <p class="mt-2 font-medium text-text-tertiary magic-fade-down delay-500">
      I usually reply within 24 hours.
    </p>

    <form class="mt-8 grid grid-cols-2 gap-4 magic-fade-down delay-900">
      <div class="max-md:col-span-2">
        <Input
          id="contactForm_name"
          label="Your Name:"
          placeholder="Harvey Specter"
        />
        {errors.username && <p>{errors.username}</p>}
      </div>
      <div class="max-md:col-span-2">
        <Input
          id="contactForm_email"
          type="email"
          label="Your Email:"
          placeholder="harvey.specter@suits.com"
        />
        {errors.email && <p>{errors.email}</p>}
      </div>
      <div class="group relative col-span-2">
        <label
          for="contactForm_details"
          class="mb-1 block font-medium text-text-primary"
        >
          Tell me about your project:
        </label>
        <textarea
          id="contactForm_details"
          placeholder="Feel free to write here..."
          class="peer block h-64 w-full rounded-md bg-bg-primary px-4 py-2 border border-border/10 placeholder:text-text-tertiary group-hover:pb-24"
        ></textarea>
        <!-- TODO: Handle responsiveness -->
        <div
          class:list={[
            "hidden magic-fade absolute top-6 -right-[calc(60%+0.5rem)] text-pretty w-[60%] rounded-md border border-border/20 text-text-secondary px-3 py-2 text-sm starting:opacity-0 ease-in-out duration-300",
            "md:group-focus:block md:peer-focus:block",
          ]}
        >
          Share your vision and ideas. Include any relevant links to references,
          prototypes, existing websites, or sources of inspiration. This will
          help me to understand your project better.
        </div>
      </div>
      <div class="max-md:col-span-2">
        <Input
          id="contactForm_phone"
          type="tel"
          label="Attach Files"
          placeholder="+91 9876543210"
        />
      </div>

      <!-- Add Turnstile Captcha or Google Recaptcha -->

      <!-- TODO: Response collected successfully. Expect a reply within <span class="font-semibold underline underline-offset-4 decoration-dashed">three hours</span>. -->

      <div class="mt-4">
        <Button type="submit" variant="primary" size="md">Submit Inquiry</Button
        >
      </div>
    </form>

    <div class="mt-16 text-text-tertiary magic-fade-down delay-1200">
      <div>
        <p class="mb-2">
          {"Prefer a more direct approach?  "}
        </p>
        {"Email me at"}
        <a
          href="mailto:hi@adityab.com"
          class="font-medium underline underline-offset-4 hover:underline-offset-8"
        >
          hello@adityab.com
        </a>
        {" or "}
        <ScheduleMeetBtn
          className="font-medium underline underline-offset-4 hover:underline-offset-8 cursor-pointer"
        >
          Schedule a call
        </ScheduleMeetBtn>
      </div>
      <div>Social Links + Discord User ID Link</div>
    </div>

    <!-- Your message has been sent. Expect a reply within <span class="font-semibold underline underline-offset-4 decoration-dashed">three</span> hours. -->
    <!-- TODO - 3 hours during working hours and 12 hours during non-working hours and 24 hours during non-working days -->
  </main>

  <script>
    import { actions } from "astro:actions";

    const button = document.querySelector("button");
    button?.addEventListener("click", async () => {
      // Show alert pop-up with greeting from action
      const { data, error } = await actions.getGreeting({ name: "Houston" });
      if (!error) alert(data);
    });
  </script>
</LandingLayout>
